

@{
    var datum = DateTime.Today;
    int persoon = Convert.ToInt16(Request.Form["personen"]);

    if (IsPost)
    {
        Response.Redirect("Default.cshtml");
    }

    var db = new Db_Stuff.Mssql_Taarten_Data();
}




<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    @helpers.wizard.materialized_header()
</head>
<body>
    <div class="formulier">
        <form method="post" class="breed">

            @helpers.wizard.allergieen()
            @helpers.wizard.aantal_personen()
            @helpers.wizard.aantal_lagen()
            @helpers.wizard.type_cake_select(db)
            @helpers.wizard.bekleding_select(db)
            @helpers.wizard.vulling_select(db)
            @helpers.wizard.niv_decoratie_select(db)

            <div class="file-field input-field">
                <div class="btn">
                    <span>File</span>
                    <input type="file" multiple>
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path validate" type="text" placeholder="(Optioneel) Upload een foto voor inspiratie">
                </div>
            </div>

            <div class="col s3 row">
                Wanneer wilt u de taart hebben:
                <div class="input-field inline">
                    <input id="Date_inline" type="date" class="validate" required />
                </div>
            </div>
            <input type="submit" name="name" value="Prijs berekenen" />
        </form>
    </div>
    <br />
</body>
</html>










