@{
    var datum = DateTime.Today;
    int persoon = Convert.ToInt32(Session["personen"]);
    string taartsoort = Convert.ToString(Session["taartsoort"]);
    string bekleding = Convert.ToString(Session["bekleding"]);
    string vulling = Convert.ToString(Session["vulling"]);
    string decoratieniveau = Convert.ToString(Session["decoratieniveau"]);
    string Thema = Convert.ToString(Session["thema"]);
    string lagen = Convert.ToString(Session["lagen"]);
    string allergie = Convert.ToString(Session["allergieen"]);

    if (IsPost)
    {
        Session["personen"] = Request.Form["personen"];
        Session["taartsoort"] = Request.Form["taartsoort"];
        Session["bekleding"] = Request.Form["bekleding"];
        Session["vulling"] = Request.Form["vulling"];
        Session["decoratieniveau"] = Request.Form["decoratieniveau"];
        Session["thema"] = Request.Form["thema"];
        Session["lagen"] = Request.Form["lagen"];
        Session["allergieen"] = Request.Form["allergieen"];
        Response.Redirect("gegevens.cshtml");
    }

    var db = new Db_Stuff.Mssql_Taarten_Data();
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    @helpers.wizard.materialized_header()
</head>
<body>
    <nav>
        <div class="nav-wrapper">
            <a href="#!" class="brand-logo center"></a>
            <ul class="left hide-on-med-and-down">
                <li><a href="~/Wizard/Aantalpersonen.cshtml">Aantal personen</a></li>
                <li><a href="~/Wizard/Aantallagen.cshtml">Aantal lagen</a></li>
                <li><a href="~/Wizard/Thema.cshtml">Thema</a></li>
                <li><a href="~/Wizard/Bekleding.cshtml">Bekleding</a></li>
                <li><a href="~/Wizard/Allergieen.cshtml">Allergieën</a></li>
                <li class="active"><a href="~/Eindoverzicht.cshtml">Overzicht</a></li>

            </ul>
        </div>
    </nav>

    <div class="formulier">
        <form method="post" class="breed" id="main_form">

            <table style="width:100%">

                <tr>
                    <td>@helpers.wizard.aantal_personen(Convert.ToInt32(Session["personen"]))</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>@helpers.wizard.aantal_lagen(Convert.ToInt32(Session["lagen"]))</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>

                    <td>@helpers.wizard.thema_selector(Session["thema"] as string)</td>
                    <td></td>
                    <td></td>
                </tr>
                @helpers.wizard.eindscherm_table_row(@helpers.wizard.type_cake_select(db, Session["taartsoort"] as string), "type_cake")
                @helpers.wizard.eindscherm_table_row(@helpers.wizard.bekleding_select(db, Session["bekleding"] as string), "bekleding")
                @helpers.wizard.eindscherm_table_row(@helpers.wizard.vulling_select(db, Session["vulling"] as string), "vulling")
                @helpers.wizard.eindscherm_table_row(@helpers.wizard.niv_decoratie_select(db, Session["decoratieniveau"] as string), "niv_deco")
                <tr>

                    <td>@helpers.wizard.allergieen(Session["allergieen"] as string)</td>
                    <td>Totaal: </td>
                    <td id="totaal_prijs"></td>
                </tr>
            </table>
            
            @*<div class="file-field input-field">
                <div class="btn">
                    <span>File</span>
                    <input type="file" multiple>
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path validate" type="text" placeholder="(Optioneel) Upload een foto voor inspiratie">
                </div>
            </div>*@
            

            <input type="submit" name="name" value="Volgende" />
        </form>
    </div>
    <br />
    <script src="~/Content/js/eindscherm_page.js"></script>
    <button id="test">test</button>
</body>
</html>










