@using System.Collections.Generic;
@using System.Collections.ObjectModel;

@helper select_uit_db(string naam_onderdeel, string naam_form, ReadOnlyCollection<Db_Stuff.Onderdeel> lijst, string sessie_waarde)
    {
if (sessie_waarde == null) {
    sessie_waarde = "";
}
        <div class="input-field col s3 breed" id="breed">
            <select required name="@naam_form" id="@naam_form" >

                <option value="@sessie_waarde" selected disabled>Kies uw @naam_onderdeel</option>
                @{
                    for (int i = 0; i < lijst.Count; i++)
                    {
                        var odeel = lijst[i];
                        var prijs = (float)odeel.prijs_in_cent / 100f;
                        <option value="@odeel.naam">@odeel.naam (@prijs euro pp)</option>

                    }
                }
            </select>
        </div>
}

@helper eindscherm_table_row(System.Web.WebPages.HelperResult elem, string id_naam)
    {

        var naam1 = "calc_" + id_naam;
        var naam2 = "res_" + id_naam;
        <tr>
            <td>@elem</td>
            <td style="width:100px" id="@naam1"></td>
            <td id="@naam2"></td>
        </tr>
}

@helper bekleding_select(Db_Stuff.Taarten_Data db, string sessie_waarde)
    {
        @select_uit_db(db.naam_bekleding, "bekleding", db.bekleding, sessie_waarde)

}
@helper niv_decoratie_select(Db_Stuff.Taarten_Data db, string sessie_waarde)
    {
        @select_uit_db(db.naam_nivea_van_decoratie, "decoratieniveau", db.nivea_van_decoratie, sessie_waarde)
}
@helper type_cake_select(Db_Stuff.Taarten_Data db, string sessie_waarde)
    {
        @select_uit_db(db.naam_type_cake, "taartsoort", db.type_cake, sessie_waarde)

}
@helper vulling_select(Db_Stuff.Taarten_Data db, string sessie_waarde)
    {
        @select_uit_db(db.naam_vulling, "vulling", db.vulling, sessie_waarde)

}

@helper aantal_lagen(int sessie_waarde)
    {
        <div class="col s3 row breed">
            Aantal lagen: (minimaal 15 personen per laag.)
            <div class="input-field inline">
                <input id="personen_inline" type="number" value="@sessie_waarde" name="lagen" class="validate" min="1" required />
            </div>
        </div>
}

@helper aantal_personen(int sessie_waarde)
    {
        <div class="col s3 row breed">
            Aantal personen:
            <div class="input-field inline">
                <input id="personen_inline" type="number" value="@sessie_waarde" class="validate" name="personen" min="1" required>
            </div>
        </div>
}

@helper allergieen(string sessie_waarde)
    {


if (sessie_waarde == null)
{
    sessie_waarde = "Allergieën ...";
}
        <script type="text/javascript">
            function allergieen_showfield(name) {
                if (name == 'Other') document.getElementById('exp_div').innerHTML = 'Other: <input type="text" name="other" />';
                else document.getElementById('exp_div').innerHTML = '';
            }
        </script>

        <select class="breed" name="allergieen" id="travel_arriveVia" onchange="allergieen_showfield(this.options[this.selectedIndex].value)">
            <option selected disabled>@sessie_waarde</option>
            <option value="Glutenvrij">Glutenvrij</option>
            <option value="geen">geen</option>
            <option value="Other">Anders, namelijk</option>
        </select>
        <div id="exp_div"></div>
}

@helper thema_selector(string sessie_waarde)
    {

if (sessie_waarde == null)
{
    sessie_waarde = "Kies een thema";
}
        <script type="text/javascript">
            function showfield(name) {
                if (name == 'Other') document.getElementById('anders').innerHTML = 'Anders namelijk: <input type="text" name="other" />';
                else document.getElementById('anders').innerHTML = '';
            }
        </script>
        <div class="col s3 row">
    
            <select class="breed" name="thema" id="thema" onchange="showfield(this.options[this.selectedIndex].value)">

                <option selected disabled>@sessie_waarde</option>
                <option value="verjaardag volwassenen">Verjaardag volwassene</option>
                <option value="Verjaardag kind">Verjaardag kind</option>
                <option value="Bruiloft">Bruiloft</option>
                <option value="Anders, namelijk">Anders, namelijk</option>
            </select>
            <div id="anders"></div>
        </div>
}

@helper materialized_header()
    {
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
        <link rel="stylesheet" type="text/css" href="~/StyleSheetwizard.css">
        <title></title>
        <script>
            $(document).ready(function () {
                $('select').formSelect();
            });
        </script>
}

