@{
    if (IsPost)
    {
        Session["taartsoort"] = Request.Form["taartsoort"];
        Session["bekleding"] = Request.Form["bekleding"];
        Session["vulling"] = Request.Form["vulling"];
        Session["decoratieniveau"] = Request.Form["decoratieniveau"];
        Response.Redirect("/Wizard/Allergieen.cshtml");
    }
    var db = new Db_Stuff.Mssql_Taarten_Data();
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    @helpers.wizard.materialized_header()
</head>
<body>
    <form method="post" class="breed">
        @helpers.wizard.type_cake_select(db)
        @helpers.wizard.bekleding_select(db)
        @helpers.wizard.vulling_select(db)
        @helpers.wizard.niv_decoratie_select(db)

        <input type="submit" name="submit" value="Volgende" />
    </form>
</body>
</html>